body{
  margin: 0;
  background: url("https://shorturl.at/eLUV4");
  font-family: sans-serif;
  background-size: cover;
}

nav {
	display: flex;
	justify-content:space-between;
	background: hsl(24, 33%, 58%,0.4);
	height: 60px;
}
  
nav ul {
	display: flex;
	justify-content: space-around;
	margin: auto;
}
.levo {
	display: inline block;
	margin: auto;
}
.levo li a{
	margin-right: 50px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.desno {
	margin: auto;
}
.desno li a {
	margin-left: 50px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a { 
	margin: auto;
	text-decoration: none;
}
header {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	padding: 100px 0;
	color: white;
	margin-top: 100px;
}
   .naslov h1 {
	display:block;
	width: 500px;
	margin: auto;
	background-color: hsl(24, 33%, 58%,0.1);
	text-transform: uppercase;
}
.naslov p {
	display:block;
	width: 500px;
	margin: auto;
	background-color: hsl(24, 33%, 58%,0.1);
}

main {
	display: flex;
	height: 300px;
}
main section {
	flex: 1;
	background: #ddd;
}
main aside {
	width: 250px;
	box-sizing: border-box;
	background: #eee;
}

footer{
	background: #999;
}
.naslov button{
	margin-top: 150px;
	border-radius: 10px;
	width: 100px;
	font-weight: bold;
	color: #241F21 ;
}
